<div class="container">

    <div class="icon">
        <img [src]="logo[0].acf.medias">
    </div>

    <div class="titulo-formulario-contato">
        <p>{{ logo[0].excerpt.rendered}}</p>
    </div>

    <div class="formulario-contato">
        <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
            <h5 class="messageSend" *ngIf="success">Mensagem enviada com sucesso</h5>
            <input type="text" formControlName="nome" class="input-nome" placeholder="NOME COMPLETO">
            <input type="text" formControlName="email" class="input-email" placeholder="EMAIL">
            <input type="text" formControlName="escola" class="input-escola" placeholder="ESCOLA">
            <select class="input-cidade" formControlName="cidade">
                    <option value="" disabled selected>Cidade</option>
                    <option *ngFor="let cidade of cidades" [value]="cidade">{{cidade}}</option>
            </select>
            <select class="input-estado" formControlName="estado">
                    <option value="" disabled selected>Estado</option>
                    <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
            </select>
            <input type="text" formControlName="telefone" class="input-telefone" placeholder="TELEFONE">
            <textarea [(ngModel)]="chars" formControlName="mensagem" class="input-mensagem"></textarea>
            <span class="charsCount">{{ 200 - chars.length }} of 200 characters left</span>
            <input [disabled]="messageForm.invalid" type="submit" value="Enviar" class="cta">
             
        </form>
    </div>



</div>