div.container {
    background: url(../../assets/img/BG.png);
    width: 1920px;
    height: 1267px;

    .icon {
        padding-top: 91px;
        text-align: center;
    }

    .titulo-formulario-contato {
        margin-top: 66px;

        p {
            font-size: 27px;
            text-align: center;
            color: #ffffff;
        }
    }

    .formulario-contato {
        width: 1050px;
        margin: 0 auto;
        margin-top: 70px;
        
        .messageSend {
            font-weight: 900;
            color: #ffffff;
        }

        .charsCount{
            font-weight: 900;
            color: #ffffff;
            font-size: 0.8em;
        }

        .input-nome, .input-email, .input-telefone, .input-escola {
            width: 100%;
            height: 47px;
            border-radius: 10px;
            background-color: #dadad4;
        }

        .input-cidade {
            width: 716px;
            height: 47px;
            border-radius: 10px;
            background-color: #dadad4;
        }

        .input-estado {
            width: 311px;
            margin-left: 15px;
            height: 47px;
            border-radius: 10px;
            background-color: #dadad4;

            option {
                color: black;
            }
        }

        .input-mensagem {
            width: 100%;
            height: 251px;
            border-radius: 10px;
            background-color: #dadad4;
        }

        input[type=submit] {
            width: 211px;
            height: 58px;
            border-radius: 10px;
            background-color: #b30d14;
            font-size: 22px;
            text-align: center;
            color: #ffffff;
            margin-left: 843px;
        }

        input[disabled] {
            opacity: 0.5;
        }
        

    }
}