<div class="container">
    <div class="icon">
        <img [src]="logo[0].acf.medias">
    </div>

    <div class="titulo-festas">
        <h3>{{ logo[0].excerpt.rendered }}</h3>
    </div>

    <div class="cards-festas">
        <ul *ngIf="festas">
            <li class="cards-container" *ngFor="let festa of festas">
                <div>
                    <img [src]="festa.acf.medias">
                    <p>
                        {{ festa.excerpt.rendered }}
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>