<div class="container">
    <div class="icon">
        <img src="assets/img/festas-icon.png">
    </div>

    <div class="titulo-festas">
        <h3>FESTAS EXCLUSIVAS</h3>
    </div>

    <div class="cards-festas">
        <ul>
            <li class="cards-container">
                <div>
                    <img src="assets/img/white-party.png">
                    <p>
                        Nossos grupos participam de uma
                        festa exclusiva com muita
                        animação, DJs irados, um jantar
                        especial e a presença ilustre do
                        Mickey e da Minnie. Ah, o traje
                        branco é oficial!
                    </p>
                </div>
            </li>
            <li class="cards-container">
                <div>
                    <img src="assets/img/forma-fest.png">
                    <p>
                        Com a Forma, você vai curtir uma
                        festa exclusiva, em um lugar
                        fechado só para nossos
                        passageiros. Vai ser uma noite
                        animada com muita música e um incrível jantar.
                    </p>
                </div>

            </li>
            <li class="cards-container">
                <div>
                    <img src="assets/img/summer-party.png">
                    <p>
                        Uma super festa dentro de um parque aquático com direito a DJs, snacks, praia e piscina
                        com ondas. Tudo com exclusividade
                        para a Forma!s
                    </p>
                </div>

            </li>
        </ul>
    </div>
</div>