<div class="container">
    <div class="icon">
        <img [src]="logo[0].acf.medias">
    </div>
    <div class="titulo-parques">
        <h3>{{ logo[0].excerpt.rendered }}</h3>
    </div>
    <div class="cards-parques">
        <ul *ngIf="parques">
            <li class="cards-container" *ngFor="let parque of parques">
                <img [src]="parque.acf.medias">
                <p class="cards-information">
                    <span>{{ parque.title.rendered }}</span> <br><br><br>
                    {{ parque.excerpt.rendered }}
                </p>
            </li>
        </ul>
    </div>

    <div class="promocao-parque">
        <img [src]='promo[0].acf.medias'>
    </div>

    <div class="promocao-informacao">
        <p>{{ promo[0].excerpt.rendered }}</p>
    </div>

</div>