<div class="container">
    <div class="icon">
        <img src="assets/img/destino-icon.png">
    </div>
    <div class="titulo-parques">
        <h3>TODOS OS PARQUES INCLUÍDOS</h3>
    </div>
    <div class="cards-parques">
        <ul>
            <li class="cards-container">
                <img src="assets/img/magic-kingdon.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/epcot.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/hollywood-studios.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/animal.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/magic-kingdon.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/universal.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/islands.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/wizarding.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/busch.png">
            </li>
            <li class="cards-container">
                <img src="assets/img/seaworld.png">
            </li>
        </ul>
    </div>

    <div class="promocao-parque">
        <img src="assets/img/pacote-top.png">
    </div>

    <div class="promocao-informacao">
        <p>**Disney Fast Pass: acesso sem filas nas principais atrações dos parques Disney; Universal Express: acesso sem filas nas principais atrações do
                Universal Studios e Islands of Adventure; Quick Queue: acesso sem filas nas principais atrações do Sea World e Busch Gardens.</p>
    </div>

</div>