div.container {
    width: 1920px;
    background: url('../../assets/img/BG-2.png');
    height: 1744px;
    

    .icon {
        padding-top: 60px;
        height: 160px;
        text-align: center;
    }

    .titulo-parques {
        height: 192px;

            h3 {
                font-size: 57.5px;
                font-weight: 900;
                color: #ffffff;  
                text-align: center;
            }      
    }

    .cards-parques {
        height: 805px;
        width: 100%;
        margin-bottom: 36px;

        ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            li:hover p.cards-information {
                visibility: visible;
                opacity: 1;
            } 
            li {
                width: 322px;
                height: 387px;
                margin-right: 27px;
                margin-bottom: 30px;
                position: relative;

                p.cards-information {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    padding-top: 20px;
                    background: rgba(255, 255, 255, 0.3);
                    padding-left: 20px;
                    padding-right: 20px;
                    color: #fff;
                    visibility: hidden;
                    opacity: 0;
                    font-size: 18px;
                    text-align: center;
                    color: #ffffff;
                    
                    span {
                        font-weight: 900
                    }
                }
            }
        }
    }

    .promocao-parque {
        height: 354px;
        img {
            margin-left: 89px;
            width: 1720px;
        }
    }

    .promocao-informacao {
        width: 1734px;
        height: 57px;
        font-family: Solomon-Sans;
        font-size: 26.5px;
        text-align: left;
        color: #cccccc;
        margin-left: 98px;
    }
}

